@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&family=Space+Grotesk&family=Space+Mono&display=swap');

:root {
    --background: #f0f0f0;
    --foreground: #0f0f0f;
    --accent: default-accent 7s linear infinite;
}

@keyframes slide-in {
    0% {
        transform: translateY(-15px);
        opacity: 0;
    }

    30% {
        opacity: 1;
        transform: translateY(5px);
    }

    50% {
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.9);
    }
}

@keyframes rainbow-accent {
    0% {
        color: #d30000;
    }

    25% {
        color: #ffa500;
    }

    37.5% {
        color: #ffff00;
    }

    50% {
        color: #7fff00;
    }

    62.5% {
        color: #00ffff;
    }

    75% {
        color: #0000ff;
    }

    87.5% {
        color: #9932cc;
    }

    100% {
        color: #d30000;
    }
}

@keyframes default-accent {
    from {
        color: #d30000;
    }

    to {
        color: #d30000;
    }
}

html p {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

body {
    margin: 0;
    font-family: 'DM Mono', monospace;
    color: var(--foreground);
    background-color: var(--background);
    transition: all 0.5s ease;
    animation: slide-in 1s ease-out;
    user-select: none;
}

main {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 40px;
}

h1,
h2,
h3 {
    font-family: 'Space Grotesk', sans-serif;
}

h1 {
    font-size: min(4vw, 60px);
    height: 1em;
    margin-bottom: 15px;
    transition: font-size 0.5s ease-out;
    vertical-align: bottom;
    line-height: 1.2em;
}

h2 {
    height: 28px;
    text-align: right;
}

p a {
    animation: var(--accent);
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
}

li::marker {
    animation: var(--accent);
}

ul,
ol {
    margin: 20px 0;
}

a:hover {
    color: var(--background);
    background-color: var(--foreground);
    cursor: pointer;
}

.pop-animation {
    animation: slide-in 1s ease-out;
}

.socials-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-weight: bold;
    font-family: 'Space Grotesk', sans-serif;
    color: var(--foreground);
    transition: background-color 0.2s ease-out;
    text-decoration: none;
}

.social-link:hover {
    background-color: var(--foreground);
    color: var(--background);
}

.social-link i {
    margin-right: 10px;
}

.name-letter {
    display: inline-block;
    height: 1em;
}

#logo {
    fill: var(--foreground);
}

#theme-toggle:hover~#theme-toggle-note {
    transform: translateX(0);
    opacity: 1;
}

#theme-toggle {
    color: var(--foreground);
    cursor: pointer;
    transition: all 0.1s ease-out;
    transition-property: scale, color;
}

#theme-toggle:hover {
    animation: var(--accent);
    background-color: transparent;
    transform: scale(1.1);
}

#theme-toggle:active {
    transform: scale(0.99);
}

#theme-toggle-section {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

#theme-toggle-note {
    transform: translateX(5px);
    opacity: 0;
    margin: 10px;
    transition: all 0.2s ease-out;
}

#name-cycle {
    display: inline-block;
    white-space: nowrap;
    font-family: 'Space Mono', monospace;
    animation: var(--accent);
}

#pronouns {
    margin-top: 0;
    opacity: 0.5;
}

#logo-button {
    width: 60px;
    transition: transform 0.3s ease-out;
}

#logo-button:hover {
    transform: scale(1.1);
    background-color: transparent;
}

#logo-button:active {
    transform: scale(0.99);
}

#spotify-container {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    min-height: 90px;
    width: 100%;
    margin: 15px auto;
    background-color: var(--foreground);
    flex-wrap: wrap;
    transition: padding 0.3s ease-out;
}

#spotify-song {
    display: flex;
}

#spotify-container p {
    margin: 2px;
    color: var(--background);
}

#spotify-title {
    font-weight: bold;
    animation: var(--accent);
}

#spotify-album {
    font-size: 0.6em;
    font-style: italic;
    opacity: 0.5;
}

#spotify-img {
    height: 90px;
    margin-right: 15px;
    transition: height 0.3s ease-out;
    align-self: center;
}

#spotify-uts-container {
    align-self: flex-start;
    height: 1em;
    display: flex;
    align-content: center;
}

#spotify-uts {
    line-height: 1;
    font-family: "Space Grotesk", sans-serif;
}

#spotify-info {
    align-self: center;
}

#spotify-live-dot {
    height: 0.8em;
    margin: 2px 6px;
    animation: var(--accent), pulse 2s infinite;
}